Repository adriangb/di: changes, and which pre-commit hooks are due for each by the changed paths.
All: lockfile, isort, black, flake8, mypy

lockfile:
  name: check poetry.lock
  language: system
  entry: poetry lock --check
  pass_filenames: false

isort:
  name: isort
  language: system
  entry: poetry run isort

black:
  name: black
  language: system
  entry: poetry run black

flake8:
  name: flake8
  language: system
  entry: poetry run flake8

mypy:
  name: mypy
  language: system
  entry: poetry run mypy --show-error-codes
  pass_filenames: false

Linting fixes
  di/_concurrency.py
  di/_inspect.py
  di/_task.py
  di/container.py
  di/dependant.py
  di/executors.py
  di/params.py
  di/types/executor.py
  poetry.lock
  tests/docs/test_textual.py
  tests/test_binding.py
  tests/test_execute.py
  tests/test_executors.py
  tests/test_positional_only.py
  tests/test_scoping.py
  tests/test_solving.py
Due: isort, black, flake8, mypy

perf: internal rework to avoid blocking on long-running tasks (#34)
  .pre-commit-config.yaml
  di/_concurrency.py
  di/_inspect.py
  di/_task.py
  di/_topsort.py
  di/container.py
  di/dependant.py
  di/executors.py
  di/params.py
  di/types/dependencies.py
  di/types/executor.py
  di/types/providers.py
  di/types/solved.py
  poetry.lock
  pyproject.toml
  tests/docs/test_textual.py
  tests/test_binding.py
  tests/test_execute.py
  tests/test_executors.py
  tests/test_positional_only.py
  tests/test_scoping.py
  tests/test_solving.py
Due: lockfile, isort, black, flake8, mypy

rchore: remove unused attribute
  di/_task.py
Due: isort, black, flake8, mypy

ci: Remove pypy until I can resolve flakiness
  .github/workflows/release.yaml
  pyproject.toml
Due: lockfile

perf: use a deque instead of a list
  di/_inspect.py
  di/_task.py
  di/container.py
  di/executors.py
  di/types/solved.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

perf: clean up benchmarks
  benchmarks/di_slow_dep.py
  benchmarks/di_solving.py
  benchmarks/fastapi_slow_dep.py
  benchmarks/fastapi_solving.py
  benchmarks/solve.py
  benchmarks/utils.py
  poetry.lock
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

perf: better benchmarks
  benchmarks/solve.py
  benchmarks/utils.py
Due: isort, black, flake8, mypy

chore: clean up internal dag tools
  di/_dag.py
  di/container.py
  pyproject.toml
  tests/test_topsort.py
Due: lockfile, isort, black, flake8, mypy

chore: fix typo in internal method
  di/_concurrency.py
  di/executors.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

doc: simplify examples
  di/dependant.py
  docs/README.md
  docs/dependants.md
  docs/solving.md
  docs/src/gather_deps_example.py
  docs/src/solved_dependant.py
  docs/src/web_framework.py
  tests/docs/test_gather_deps_example.py
  tests/docs/test_solved.py
  tests/test_solving.py
Due: isort, black, flake8, mypy

chore: release 0.19.7
  pyproject.toml
Due: lockfile

doc: fix line highlighting after running formatting on code samples
  docs/README.md
  docs/solving.md
  pyproject.toml
Due: lockfile

feat: allow dependants to return a copy instead of modifying themselves
  di/dependant.py
  di/types/dependencies.py
  docs/src/headers_example.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

chore: remove unused methods
  di/_scope_map.py
  di/container.py
  tests/test_container.py
Due: isort, black, flake8, mypy

perf: simplify internal cache resolution
  di/_task.py
  di/container.py
Due: isort, black, flake8, mypy

perf/chore: internal cleanup and performance improvements
  di/_task.py
  di/container.py
  di/types/solved.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

perf: internal optimizations
  di/_nullcontext.py
  di/container.py
  di/types/__init__.py
  pyproject.toml
  tests/test_scoping.py
Due: lockfile, isort, black, flake8, mypy

feat: non-mutable view into current binds
  di/container.py
  pyproject.toml
  tests/test_container.py
Due: lockfile, isort, black, flake8, mypy

chore: rename default_scope -> execution_scope
  di/container.py
  tests/test_container.py
  tests/test_scoping.py
Due: isort, black, flake8, mypy

perf: internal cache optimization
  di/container.py
Due: isort, black, flake8, mypy

try using igraph
  di/_dag.py
  di/container.py
Due: isort, black, flake8, mypy

remove custom topsort
  di/_dag.py
  di/container.py
Due: isort, black, flake8, mypy

use cache
  di/container.py
  tests/test_topsort.py
Due: isort, black, flake8, mypy

add dependency
  poetry.lock
  pyproject.toml
  tests/test_solving.py
Due: lockfile, isort, black, flake8, mypy

Version bump
  pyproject.toml
Due: lockfile

perf: one more place a deque can be used
  di/container.py
Due: isort, black, flake8, mypy

perf: improve ConcurrentAsyncExecutor
  benchmarks/solve.py
  di/container.py
  di/executors.py
  di/types/executor.py
  tests/test_executors.py
Due: isort, black, flake8, mypy

chore: linting & version bump
  .pre-commit-config.yaml
  di/__init__.py
  di/_docstrings.py
  di/_inspect.py
  di/_local_scope_context.py
  di/_state.py
  di/container.py
  docs/src/textual/__init__.py
  docs/src/textual/__int__.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

feat: simpler handling of callable classes
  di/dependant.py
  pyproject.toml
  tests/test_callable_class.py
Due: lockfile, isort, black, flake8, mypy

bug: fix imports on 3.7
  di/dependant.py
  pyproject.toml
  tests/test_callable_class.py
Due: lockfile, isort, black, flake8, mypy

feat: Expose instance_dependant
  di/dependant.py
Due: isort, black, flake8, mypy

chore: add note on implementation
  di/dependant.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

maint: simplify CallableClassDependant into a function
  di/dependant.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

doc: touch up docs, add JoinedDependant example
  docs/dependants.md
  docs/sharing.md
  docs/solving.md
  pyproject.toml
Due: lockfile

doc: add missing file
  docs/src/headers_example.py
  docs/src/joined_dependant.py
  pyproject.toml
  tests/docs/test_joined_dependant.py
Due: lockfile, isort, black, flake8, mypy

chore: remove duplicate import
  di/container.py
Due: isort, black, flake8, mypy

chore: factor our execution planning from container
  di/_execution_planning.py
  di/_scope_validation.py
  di/container.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

refactor: decouple JoinedDependant from Dependant
  di/dependant.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

bug: remove unecessary abstract attribute from DependantProtocol
  di/types/dependencies.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

refactor!: make DependantProtocol an ABC and rename to DependantBase
  di/_execution_planning.py
  di/_scope_validation.py
  di/_state.py
  di/_task.py
  di/container.py
  di/dependant.py
  di/types/dependencies.py
  di/types/solved.py
  docs/dependants.md
  pyproject.toml
  tests/test_dependant.py
  tests/test_get_flat_dependencies.py
  tests/test_solving.py
Due: lockfile, isort, black, flake8, mypy

Path conditions:
  lockfile: any of: ^pyproject.toml$, but not: ^.venv/.*
  isort: any of: \.py$, but not: ^.venv/.*
  black: any of: \.py$, but not: ^.venv/.*
  flake8: any of: \.py$, but not: ^.venv/.*
  mypy: any of: \.py$, but not: ^.venv/.*
