Repository adriangb/di: changes, and which pre-commit hooks are due for each by the changed paths.
All: lockfile, isort, black, flake8, mypy

lockfile:
  name: check poetry.lock
  language: system
  entry: poetry lock --check
  pass_filenames: false

isort:
  name: isort
  language: system
  entry: poetry run isort

black:
  name: black
  language: system
  entry: poetry run black

flake8:
  name: flake8
  language: system
  entry: poetry run flake8

mypy:
  name: mypy
  language: system
  entry: poetry run mypy --show-error-codes
  pass_filenames: false

remove unused code
  tests/test_binding.py
Due: isort, black, flake8, mypy

perf: misc internal performance improvements (#38)
  di/__init__.py
  di/_utils/dag.py
  di/_utils/execution_planning.py
  di/_utils/scope_map.py
  di/_utils/scope_validation.py
  di/_utils/state.py
  di/_utils/task.py
  di/container.py
  di/dependant.py
  di/executors.py
  di/types/dependencies.py
  pyproject.toml
  tests/test_binding.py
  tests/test_container.py
  tests/test_execute.py
  tests/test_executors.py
Due: lockfile, isort, black, flake8, mypy

replace pop with del
  di/_utils/scope_map.py
Due: isort, black, flake8, mypy

Update container.py
  di/container.py
Due: isort, black, flake8, mypy

reorganize state.py
  di/_utils/state.py
Due: isort, black, flake8, mypy

cut patch release
  pyproject.toml
Due: lockfile

Remove unused import
  di/container.py
Due: isort, black, flake8, mypy

perf: avoid unnecessary instantiation of nullcontext
  di/container.py
Due: isort, black, flake8, mypy

perf: avoid extra contextvar lookups
  di/container.py
Due: isort, black, flake8, mypy

save state
  di/_utils/state.py
Due: isort, black, flake8, mypy

get state from cm
  di/container.py
Due: isort, black, flake8, mypy

fix var name
  di/_utils/state.py
Due: isort, black, flake8, mypy

bug: fix scope access
  di/container.py
Due: isort, black, flake8, mypy

defer checking executor compatibility until we know we need it
  di/container.py
Due: isort, black, flake8, mypy

perf: cache scope validation
  di/_utils/inspect.py
  di/_utils/scope_validation.py
  di/types/solved.py
Due: isort, black, flake8, mypy

refactor!: rework Container API to support managing state without contextvars
  .pre-commit-config.yaml
  di/__init__.py
  di/_utils/execution_planning.py
  di/_utils/nullcontext.py
  di/_utils/scope_map.py
  di/_utils/scope_validation.py
  di/_utils/state.py
  di/_utils/task.py
  di/_utils/types.py
  di/api/__init__.py
  di/api/container.py
  di/api/dependencies.py
  di/api/executor.py
  di/api/providers.py
  di/api/scopes.py
  di/api/solved.py
  di/container.py
  di/dependant.py
  di/executors.py
  di/params.py
  docs/architecture.md
  docs/architecture.png
  docs/dependants.md
  docs/scopes.md
  docs/solving.md
  docs/src/bind_as_a_dep.py
  docs/src/invalid_scope_dependance.py
  docs/src/solved_dependant.py
  docs/src/starlette/src.py
  docs/src/textual/src.py
  pyproject.toml
  tests/test_binding.py
  tests/test_callable_class.py
  tests/test_container.py
  tests/test_execute.py
  tests/test_executors.py
  tests/test_get_flat_dependencies.py
  tests/test_scoping.py
  tests/test_solving.py
Due: lockfile, isort, black, flake8, mypy

update docs links:
  docs/architecture.md
Due: none

refactor!: rework Container API to support managing state without contextvars (#39)
  .pre-commit-config.yaml
  di/__init__.py
  di/_utils/execution_planning.py
  di/_utils/inspect.py
  di/_utils/nullcontext.py
  di/_utils/scope_map.py
  di/_utils/scope_validation.py
  di/_utils/state.py
  di/_utils/task.py
  di/_utils/types.py
  di/api/__init__.py
  di/api/container.py
  di/api/dependencies.py
  di/api/executor.py
  di/api/providers.py
  di/api/scopes.py
  di/api/solved.py
  di/container.py
  di/dependant.py
  di/executors.py
  di/params.py
  docs/architecture.md
  docs/architecture.png
  docs/dependants.md
  docs/scopes.md
  docs/solving.md
  docs/src/bind_as_a_dep.py
  docs/src/invalid_scope_dependance.py
  docs/src/solved_dependant.py
  docs/src/starlette/src.py
  docs/src/textual/src.py
  pyproject.toml
  tests/test_binding.py
  tests/test_callable_class.py
  tests/test_container.py
  tests/test_execute.py
  tests/test_executors.py
  tests/test_get_flat_dependencies.py
  tests/test_scoping.py
  tests/test_solving.py
Due: lockfile, isort, black, flake8, mypy

chore: cleanup of execution_planning.py
  di/_utils/execution_planning.py
  di/_utils/scope_map.py
  di/_utils/scope_validation.py
  di/_utils/state.py
  di/_utils/task.py
  di/api/dependencies.py
  di/api/solved.py
  di/container.py
  di/dependant.py
  di/exceptions.py
  pyproject.toml
  tests/test_solving.py
Due: lockfile, isort, black, flake8, mypy

refactor: simplify ScopeMap
  di/_utils/scope_map.py
  di/_utils/scope_validation.py
  di/_utils/state.py
  di/_utils/task.py
  di/container.py
Due: isort, black, flake8, mypy

chore: bump version
  pyproject.toml
Due: lockfile

chore: clean up Makefile
  Makefile
  pyproject.toml
Due: lockfile

perf: don't pop values during execution
  di/_utils/task.py
Due: isort, black, flake8, mypy

chore: remove unused @runtime_checkable decorator
  di/api/container.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

perf: small performance improvements
  di/_utils/task.py
Due: isort, black, flake8, mypy

chore: more iterations in benchmark
  benchmarks/solve.py
Due: isort, black, flake8, mypy

perf: use graphlib2 as dependency resolution backend
  LICENSE.txt
  di/_utils/execution_planning.py
  di/_utils/state.py
  di/_utils/task.py
  di/api/executor.py
  di/container.py
  di/executors.py
  poetry.lock
  pyproject.toml
  tests/test_executors.py
Due: lockfile, isort, black, flake8, mypy

chore: update LICENSE.txt
  LICENSE.txt
  pyproject.toml
Due: lockfile

janky prototype using stdlib
  di/_utils/execution_planning.py
  di/_utils/state.py
  di/_utils/task.py
  di/container.py
Due: isort, black, flake8, mypy

use vendored version
  di/_utils/execution_planning.py
  di/_utils/task.py
  di/_utils/topsort.py
  di/container.py
  tests/test_topsort.py
Due: isort, black, flake8, mypy

tweaks
  di/_utils/dag.py
  di/_utils/topsort.py
Due: isort, black, flake8, mypy

use graphlib2 with hashed API
  di/_utils/execution_planning.py
  di/_utils/task.py
  di/container.py
Due: isort, black, flake8, mypy

bump version
  pyproject.toml
Due: lockfile

add __init__.py
  benchmarks/__init__.py
Due: isort, black, flake8, mypy

optimize hot gather_new_tasks func
  di/_utils/task.py
  poetry.lock
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

update dependency
  di/container.py
  poetry.lock
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

perf: use graphlib2 (#42)
  benchmarks/__init__.py
  di/_utils/dag.py
  di/_utils/execution_planning.py
  di/_utils/state.py
  di/_utils/task.py
  di/_utils/topsort.py
  di/api/executor.py
  di/container.py
  di/executors.py
  poetry.lock
  pyproject.toml
  tests/test_executors.py
  tests/test_topsort.py
Due: lockfile, isort, black, flake8, mypy

chore: bump graphlib2 version
  di/_utils/execution_planning.py
  di/_utils/state.py
  di/_utils/task.py
  di/_utils/topsort.py
  di/api/executor.py
  di/api/solved.py
  di/container.py
  poetry.lock
  pyproject.toml
  tests/test_executors.py
  tests/test_topsort.py
Due: lockfile, isort, black, flake8, mypy

Path conditions:
  lockfile: any of: ^pyproject.toml$, but not: ^.venv/.*
  isort: any of: \.py$, but not: ^.venv/.*
  black: any of: \.py$, but not: ^.venv/.*
  flake8: any of: \.py$, but not: ^.venv/.*
  mypy: any of: \.py$, but not: ^.venv/.*
