Repository adriangb/di: changes, and which pre-commit hooks are due for each by the changed paths.
All: lockfile, isort, black, flake8, mypy

lockfile:
  name: check poetry.lock
  language: system
  entry: poetry lock --check
  pass_filenames: false

isort:
  name: isort
  language: system
  entry: poetry run isort

black:
  name: black
  language: system
  entry: poetry run black

flake8:
  name: flake8
  language: system
  entry: poetry run flake8

mypy:
  name: mypy
  language: system
  entry: poetry run mypy --show-error-codes
  pass_filenames: false

feat!: allow introspecting into the Dependant from within the executor
  di/_execution_planning.py
  di/_task.py
  di/executors.py
  di/types/executor.py
  pyproject.toml
  tests/test_executors.py
Due: lockfile, isort, black, flake8, mypy

feat!: rework executor interface for increased flexibility in executing sync dependencies
  di/_concurrency.py
  di/_execution_planning.py
  di/_task.py
  di/dependant.py
  di/executors.py
  di/params.py
  di/types/executor.py
  pyproject.toml
  tests/test_execute.py
  tests/test_executors.py
Due: lockfile, isort, black, flake8, mypy

perf: remove internal runtime introspection
  Makefile
  di/__init__.py
  di/_task.py
  di/params.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

perf: remove internal runtime introspection
  di/executors.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

chore: internal typing tweaks
  di/_task.py
  di/dependant.py
  di/executors.py
  docs/src/bind_as_a_dep.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

feat: allow wiring from annotations
  di/dependant.py
  poetry.lock
  pyproject.toml
  tests/test_wiring_annotated.py
Due: lockfile, isort, black, flake8, mypy

doc: update docs on use of Annotated
  docs/src/autowiring.py
  docs/src/manual_wiring.py
  docs/wiring.md
  pyproject.toml
  tests/docs/test_wiring_example.py
Due: lockfile, isort, black, flake8, mypy

bug: accomodate Pydantic's mangled signatures by always using get_type_hints
  di/__init__.py
  di/_inspect.py
  di/dependant.py
  docs/src/manual_wiring.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

bug: fix bugs in ConcurrentSyncExecutor
  di/_dag.py
  di/_scope_map.py
  di/executors.py
  pyproject.toml
  tests/test_execute.py
Due: lockfile, isort, black, flake8, mypy

bug: fix bug in introspection of Annotated type hints
  di/_inspect.py
  pyproject.toml
  tests/test_wiring_annotated.py
Due: lockfile, isort, black, flake8, mypy

chore: more accomdations for Pydantic
  di/_inspect.py
  di/dependant.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

feat!: pass full annotation to register_param
  di/dependant.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

doc: move wiring up in doc order
  mkdocs.yml
  pyproject.toml
Due: lockfile

chore: improve coverage gaps
  di/_dag.py
  di/_scope_map.py
  di/types/dependencies.py
Due: isort, black, flake8, mypy

bug: fix bug in simple executors
  di/executors.py
  pyproject.toml
  tests/test_executors.py
Due: lockfile, isort, black, flake8, mypy

chore: remove irrelevant comment
  di/_execution_planning.py
Due: isort, black, flake8, mypy

chore: exclude TypeError's from coverage
  di/container.py
Due: isort, black, flake8, mypy

chore: release v0.27.10
  pyproject.toml
Due: lockfile

refactor: remove unused functionality in nullcontext
  benchmarks/utils.py
  di/_nullcontext.py
  di/container.py
Due: isort, black, flake8, mypy

chore!: sprinkle comments & rename SolvedDependency -> SolvedDependant for clarity
  di/_execution_planning.py
  di/_scope_map.py
  di/_scope_validation.py
  di/_task.py
  di/container.py
  di/types/__init__.py
  di/types/solved.py
  docs/solving.md
  docs/src/solved_dependant.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

doc: add docstrings to exceptions
  di/container.py
  di/exceptions.py
  di/types/dependencies.py
  pyproject.toml
  tests/test_solving.py
Due: lockfile, isort, black, flake8, mypy

doc: update contributing docs
  docs/contributing.md
  pyproject.toml
Due: lockfile

chore: make ContainerState a new-style class
  di/_state.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

refactor: move LocalScopeContext into _state.py to avoid circular reference
  di/_local_scope_context.py
  di/_state.py
  di/container.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

perf: remove interal inner function
  di/_execution_planning.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

refactor: collect private utility modules under _utils
  di/_utils/__init__.py
  di/_utils/concurrency.py
  di/_utils/dag.py
  di/_utils/docstrings.py
  di/_utils/execution_planning.py
  di/_utils/inspect.py
  di/_utils/nullcontext.py
  di/_utils/scope_map.py
  di/_utils/scope_validation.py
  di/_utils/state.py
  di/_utils/task.py
  di/container.py
  di/dependant.py
  di/executors.py
  tests/test_topsort.py
Due: isort, black, flake8, mypy

doc: fix docstrings
  di/container.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

refactor: coalesce Container._build_task and Container._build_tasks
  di/container.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

feat: expose JoinedDependant and friends in top level module
  di/__init__.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

doc: more docstring improvements
  di/_utils/docstrings.py
  di/dependant.py
  di/executors.py
  di/types/dependencies.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

docs: add architecture page & more exposition in the intro
  di/_utils/inspect.py
  docs/README.md
  docs/architecture.md
  docs/architecture.png
  docs/binds.md
  docs/dependants.md
  docs/solving.md
  docs/src/web_framework.py
  mkdocs.yml
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

Update README.md
  docs/README.md
Due: none

doc: fix docs layout
  pyproject.toml
Due: lockfile

perf: internal optimizations
  di/_utils/execution_planning.py
  di/_utils/scope_map.py
  di/_utils/scope_validation.py
  di/_utils/state.py
  di/_utils/task.py
  di/container.py
  di/executors.py
  tests/test_binding.py
  tests/test_container.py
Due: isort, black, flake8, mypy

optimize task removal
  benchmarks/solve.py
  di/_utils/dag.py
  di/_utils/execution_planning.py
  di/_utils/scope_validation.py
  di/_utils/task.py
  di/container.py
Due: isort, black, flake8, mypy

revert changes to benchmarks
  benchmarks/solve.py
  di/__init__.py
  di/_utils/execution_planning.py
  di/container.py
  di/dependant.py
  di/executors.py
  di/types/dependencies.py
  tests/test_execute.py
  tests/test_executors.py
Due: isort, black, flake8, mypy

bump version
  pyproject.toml
Due: lockfile

remove pypy since it's flaky again
  .github/workflows/test-prs.yaml
Due: none

pre-populate plan cache
  di/container.py
Due: isort, black, flake8, mypy

remove injection of container itself
  di/container.py
Due: isort, black, flake8, mypy

Path conditions:
  lockfile: any of: ^pyproject.toml$, but not: ^.venv/.*
  isort: any of: \.py$, but not: ^.venv/.*
  black: any of: \.py$, but not: ^.venv/.*
  flake8: any of: \.py$, but not: ^.venv/.*
  mypy: any of: \.py$, but not: ^.venv/.*
