Repository adriangb/di: changes, and which pre-commit hooks are due for each by the changed paths.
All: lockfile, isort, black, flake8, mypy

lockfile:
  name: check poetry.lock
  language: system
  entry: poetry lock --check
  pass_filenames: false

isort:
  name: isort
  language: system
  entry: poetry run isort

black:
  name: black
  language: system
  entry: poetry run black

flake8:
  name: flake8
  language: system
  entry: poetry run flake8

mypy:
  name: mypy
  language: system
  entry: poetry run mypy --show-error-codes
  pass_filenames: false

chore: run poetry.lock
  poetry.lock
  pyproject.toml
Due: lockfile

doc: add comment on provided toplogical sort
  di/api/solved.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

feat: add pytest integration
  di/pytest.py
  pyproject.toml
  tests/test_pytest.py
Due: lockfile, isort, black, flake8, mypy

chore: update graphlib2 lock version
  poetry.lock
Due: none

slightly more complex example
  di/pytest.py
  tests/test_pytest.py
Due: isort, black, flake8, mypy

doc: fix doc errors & enable version warning
  di/container.py
  docs/architecture.md
  docs/overrides/main.html
  docs/wiring.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

ci: merge CI workflows to avoid duplication
  .github/workflows/release.yaml
  .github/workflows/workflow.yaml
  mkdocs.yml
  pyproject.toml
Due: lockfile

chore: fix typo in ci config
  .github/workflows/workflow.yaml
Due: none

feat/test: support dependenats with no call; fixes from mutation testing
  di/_utils/task.py
  di/api/dependencies.py
  di/container.py
  di/dependant.py
  poetry.lock
  pyproject.toml
  tests/test_caching_rules.py
  tests/test_solving.py
  tests/test_wiring_annotated.py
Due: lockfile, isort, black, flake8, mypy

test: fix Literal import
  tests/test_caching_rules.py
Due: isort, black, flake8, mypy

doc: update README.md badge link
  README.md
Due: none

remove unecessary markers & simplify impl
  di/pytest.py
  tests/test_pytest.py
Due: isort, black, flake8, mypy

janky compatibility with pytest fixtures
  di/pytest.py
  tests/test_pytest.py
Due: isort, black, flake8, mypy

doc: add reference to pytest fixtures and clean up architecture diagram
  docs/README.md
  docs/architecture.md
  docs/architecture.png
  pyproject.toml
Due: lockfile

chore: update lockfile
  poetry.lock
Due: none

BREAKING_CHANGE: avoid exporting ContainerState by calling __new__ directly
  di/container.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

chore: remove unused slot
  di/_utils/task.py
Due: isort, black, flake8, mypy

feat: return Python objects as part of CycleError
  di/_utils/topsort.py
  di/exceptions.py
  poetry.lock
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

chore: add missing test file
  tests/test_dependency_cycles.py
Due: isort, black, flake8, mypy

chore: remove export of typevar
  di/api/container.py
  di/api/providers.py
  di/api/solved.py
  di/container.py
  di/dependant.py
  di/params.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

bug: fix ContainerProtocol execute signatures
  di/api/container.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

chore: remove unecessary use of list cast on itertools.chain
  di/dependant.py
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

perf: better benchmarks
  benchmarks/solve.py
  benchmarks/utils.py
  di/_utils/task.py
  poetry.lock
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

doc: shorten title
  docs/README.md
  mkdocs.yml
  pyproject.toml
Due: lockfile

feat!: give Dependant binds so they can fall back for unmarked dependencies
  di/api/dependencies.py
  di/api/solved.py
  di/container.py
  di/dependant.py
  pyproject.toml
  tests/test_callable_class.py
  tests/test_solving.py
  tests/test_wiring_annotated.py
Due: lockfile, isort, black, flake8, mypy

ci: fix linter failures
  di/_utils/inspect.py
  poetry.lock
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

chore: remove unused autowire parameter
  di/api/dependencies.py
  di/dependant.py
  di/params.py
  docs/src/starlette/src.py
  tests/test_solving.py
Due: isort, black, flake8, mypy

feat! decouple Dependant API from Container binds
  di/api/dependencies.py
  di/container.py
  di/dependant.py
  di/typing.py
  docs/src/textual/demo.py
  docs/src/textual/src.py
  pyproject.toml
  tests/test_solving.py
  tests/test_wiring_annotated.py
Due: lockfile, isort, black, flake8, mypy

test: fix flakey test
  poetry.lock
  tests/test_callable_class.py
Due: isort, black, flake8, mypy

chore: bump mypy version
  poetry.lock
  pyproject.toml
Due: lockfile

chore: lock mkdocs-material version to mitigate https://github.com/python-poetry/poetry/issues/4701
  poetry.lock
  pyproject.toml
Due: lockfile

chore: revert to using stable Poetry
  .github/workflows/workflow.yaml
  .pre-commit-config.yaml
  Makefile
  docs/src/starlette/src.py
  poetry.lock
  pyproject.toml
Due: lockfile, isort, black, flake8, mypy

chore: Correct spelling
  docs/README.md
Due: none

Update README.md
  docs/README.md
Due: none

docs: correct spelling of README
  docs/README.md
Due: none

docs: correct spelling of architecture
  docs/architecture.md
Due: none

docs: correct spelling of wiring
  docs/wiring.md
Due: none

docs: correct spelling of solving
  docs/solving.md
Due: none

docs: correct spelling of scopes
  docs/scopes.md
Due: none

Path conditions:
  lockfile: any of: ^pyproject.toml$, but not: ^.venv/.*
  isort: any of: \.py$, but not: ^.venv/.*
  black: any of: \.py$, but not: ^.venv/.*
  flake8: any of: \.py$, but not: ^.venv/.*
  mypy: any of: \.py$, but not: ^.venv/.*
